<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-82329311-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-82329311-4');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swim 4U Київ | set your goal &amp; swim it</title>
    <meta name="description" content="Swim4U — це клуб, де ми навчимо тебе плавати. А, ти вже вмієш? Тоді їдемо перепливати Босфор. Повір, це можливо. Ми підготуємось до цієї пригоди разом!">
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '175145107145001');
  fbq('track', 'PageView');
</script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=175145107145001&ev=PageView&noscript=1" /></noscript>
    <!-- End Facebook Pixel Code -->
    <meta property="og:image" content="https://swim4u.club/OG_img-swim.jpg">
    <meta property="og:url" content="https://swim4u.club/kyiv.html" />
    <meta property="og:title" content="Swim 4U Київ | set your goal &amp; swim it" />
    <meta property="og:description" content="Ми спортсмени-аматори, подорожуємо по світу, долаючи кілометри біжучи, пливучи та крутячи педалі. " />
    <meta property="og:type" content="website" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/app.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
</head>

<body>
    <div ng-app="sport4U" ng-controller="sportCtrl">
        <div id="preloader" class="swim-ptrn">
            <div id="pre-logo">
                <img src="assets/img/swim-4U_logo.svg" alt="">
            </div>
        </div>
        <div class="swim-ptrn fixed-bg"></div>
        <div class="hero">
            <div class="grid-x social-icons">
                <div class="cell small-7 medium-shrink ">
                    <a href="https://www.facebook.com/{[{data.fb}]}" target="_blank">
                        <i class="fa fa-facebook-square fa-2x"></i></a>
                    <a href="https://www.instagram.com/{[{data.insta}]}" target="_blank">
                        <i class="fa fa-instagram fa-2x"></i></a>
                    <a class="white" href="tel://{[{data.tel}]}">
                        <i class="fa fa-phone-square fa-2x"></i> 
                        <span class="hide-for-small-only"> {[{data.telView}]}</span> </a>
                </div>
                <div class="cell small-5 medium-auto text-right">
                    <a href="{[{data.otherCityHref}]}" class=" button small white-bg swim-1 s-bold">{[{data.otherCityBtn}]}</a>
                </div>
            </div>
            <div class="grid-x ">
                <div class="cell text-center " style="margin-top: 0.6rem;">
                    <h2 class="text-center white uppercase">{[{data.city}]}</h2>
                    <img class="logo main" src="assets/img/swim-4U_logo.svg" alt="">
                </div>
            </div>
            <div class="hero-img">
                <img src="assets/img/swim_hero_s.webp" alt="" class="hide-for-medium">
                <img src="assets/img/swim_hero.webp" alt="" class="show-for-medium">
            </div>
        </div>
        <div class="white-bg slogan">
            <h3 class="text-center swim-1 uppercase ">set your goal & <span class="swim-2 bold">swim</span> it</h3>
        </div>    <br><br><br>
        <br><br><br>
        <br><br><br>
        <div class="section white-bg">
            <h1 class="text-center swim-1 uppercase">наші <span class="bold swim-2">програми</span></h1><br>
            <div class="grid-container">
                <div class="grid-x  grid-padding-x">
                    <div class="cell large-6 text-center">
                        <p class="swim-1 s-bold big">{[{data.progIntro.intro}]}</p>
                        <table class="big swim-1 prog-tbl">
                            <tr>
                                <td ng-repeat="prog in data.progIntro.prices">{[{prog.dur}]}<br>
                                <span class="bold swim-2 bigger">{[{prog.prc}]}</span> грн<br>
                                <span class="bold swim-1 ">{[{prog.prc1}]} </span>
                                    <span class="sml-txt swim-1 ">грн/тренування</span></td>
                            </tr>
                        </table>
                        <h5 class=" swim-2 uppercase s-bold">розклад тренувань:</h5>
                        <p class=" swim-1">
                            {[{data.trainPlace}]},
                            <br><span class="s-bold">{[{data.trainDays1}]}</span> о <span class="s-bold">{[{data.trainTime}]}</span><br>
                            або <span class="s-bold">{[{data.trainDays2}]}</span> о <span class="s-bold">{[{data.trainTime2}]}</span></p>
                        <br>
                    </div>
                    <div class="cell large-6">
                        <h5 class="text-center swim-2 uppercase s-bold">В ціну включено:</h5>
                        <ol>
                            <li class="swim-1 include-list" ng-repeat="x in data.progIntro.list">{[{ x }]}</li>
                        </ol><br>
                        <p class="swim-1 s-bold">{[{data.progIntro.descr}]}</p>
                        <br>
                    </div>
                </div>
                <div class="text-center">
                    <h5 class="swim-2 s-bold">хочу на безкоштовне пробне тренування:</h5>
                    <a class="button  large " href="mailto:{[{data.mail}]}" style="margin-right: 0.8rem" target="_blank"> <i class="fa fa-envelope "></i></a>
                    <a class="button large " href="tel://{[{data.tel}]}" target="_blank"><i class="fa fa-phone "></i> {[{data.telView}]}</a>
                </div>
            </div>
        </div>
        <div class="grid-x  grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3 xlarge-up-4" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
            <div class="cell " ng-repeat="prog in data.programs" data-equalizer-watch>
                <div class="grid-x dark-024-bgrd" style="height: 100%">
                    <div class="cell">
                        <br>
                        <h4 class="text-center white bold uppercase">{[{prog.name}]}</h4>
                        <img src="assets/img/programs/{[{prog.ID}]}.webp">
                    </div>
                    <div class="cell prog-features ">
                        <p class="text-center">дистанція: <span class="s-bold ">{[{prog.distance}]}</span></p><br>
                        <div class="grid-x align-bottom text-center">
                            <div class="cell small-6">рекомендована тривалість:<br><span class=" s-bold big">{[{prog.duration}]}</span>
                            </div>
                            <div class="cell small-6">
                                заплив:<br><span class=" s-bold"> {[{prog.final}]}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    <div class="grid-x align-middle">
            <div class="cell medium-7 large-9">
                <h1 class="text-center white uppercase">Подарункові <span class="bold">сертифікати <br>від 1000</span> <small class="white">грн</small></h1>
            </div>
            <div class="cell medium-5 large-3">
                <img style="" src="assets/img/cert_S.webp" alt="">
            </div>
        </div> <br><br>    <div class="section white-bg">
            <h1 class="text-center swim-1 uppercase">we are <span class="bold swim-2">in action</span></h1><br>
            <div class="gallery">
                <slick ng-if="dataLoaded" settings="mainSlickConfig">
                    <img class="align-self-middle" ng-repeat="slide in data.gallery" src="assets/img/gallery/swim/{[{slide}]}" alt=" ">
                </slick>
            </div><br><br>
        </div>    <div id="feedback-4u" class="section">
            <h1 class="text-center white uppercase">відгуки <span class="bold">учасників</span></h1><br>
            <div class="grid-x  grid-padding-x small-up-1  large-up-2 xlarge-up-3">
                <div class="cell" ng-repeat="quote in data.feedbacks">
                    <div class="card white-bg">
                        <div class="grid-x">
                            <div class="cell medium-shrink text-center">
                                <img src="assets/img/{[{quote.ID}]}.webp">
                            </div>
                            <div class="cell medium-auto">
                                <div class="card-section ">
                                    <div class="read-more" style="overflow: hidden;">
                                        <h6 class="swim-1 s-bold">{[{quote.name}]} <br>
                                            <span class="occupy swim-2">{[{quote.occupy}]}</span></h6>
                                        <p class="pre">{[{quote.text}]}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><br>    <div class="section white-bg ">
            <h1 class="text-center swim-1 uppercase">наші <span class="bold swim-2">партнери</span></h1>
            <div id="partners" class=" gallery-logos">
                <slick ng-if="dataLoaded" settings="mainSlickConfig">
                    <img ng-repeat="logo in data.partners" src="assets/img/partners//{[{logo}]}" alt="">
                </slick>
            </div>
        </div>    <footer class="dark-072-bgrd">
            <div class="grid-x  text-center">
                <div class="cell ">
                    <div class="social-icons">
                        <a class="" href="https://www.facebook.com/{[{data.fb}]}" target="_blank">
                            <i class="fa fa-facebook-square fa-2x"></i></a>
                        <a class="" href="https://www.instagram.com/{[{data.insta}]}" target="_blank">
                            <i class="fa fa-instagram fa-2x"></i></a>
                        <a class="white main-tel" href="tel://{[{data.tel}]}"><i class="fa fa-phone-square fa-2x"></i> {[{data.telView}]}</a>
                    </div>
                </div>
            </div><br>
            <p class="text-center">© Всі права застережено. 2021</p><br>
        </footer></div>
    <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
        FB.init({
            xfbml: true,
            version: 'v6.0'
        });
    };
    
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat" attribution=install_email page_id="102115014606778" logged_in_greeting="Привіт!) Що Вас цікавить? Пишіть, радо відповімо!" logged_out_greeting="Привіт!) Що Вас цікавить? Пишіть, радо відповімо!">
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.9/angular-route.js"></script>
    <script src="assets/js_plugins/angular-locale_uk-ua.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
    <script src="assets/js_plugins/myAngularSK.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js_plugins/angular-slick.js"></script>
    <!-- <script src="assets/js_plugins/readmore.min.js"></script> -->
</body>

</html>